<%= form_for(@cat, multipart: true) do |f| %>
  <% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat.errors.count, "error") %> prohibited this cat from being saved:</h2>

      <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bodega_name %><br>
    <%= f.text_field :bodega_name %>
<!--<label for="bodega-name">Bodega Name</label>
    <input type="text" name="cat[bodega_name]" id="bodega-name"> -->
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
<!-- <label for="bodega-address">Bodega Address</label>
    <input type="text" name="cat[address]" id="bodega-address"> -->
  </div>
    <div class="field" id='pictureInput'>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div id="target"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>