<p id="notice"><%= notice %></p>

<h1>Bodega Cats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bodega</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

<section>
    <% @cats.each do |cat| %>
 <div style="display:inline-block;margin-left:40px;">
      <%= image_tag cat.avatar.url(:square), :class => "defaultImgWidth" %>
      <p><%= cat.name %></p> 
      <p><%= cat.address %></p>
      <p>
        <%= link_to 'Show', cat %>
       <%= link_to 'Edit', edit_cat_path(cat) %>
       <%= link_to 'Destroy', cat, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>


 </div>

    <% end %>


</section>



<br>

<%= link_to 'New Cat', new_cat_path %>
